.category {
  position: relative;
  margin-bottom: 1rem;
}

.category-navigation {
  background-color: var(--color-primary);
  color: white;
  padding: .75rem;
}

.category-name {
  display: inline-block;
  font-weight: 500;
  margin: 0;
}

.category-navigation a {
  color: var(--color-text-primary);
}

.category-header {
  display: flex;
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  font-weight: 600;
}

.forum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: var(--color-tertiary);
  border-bottom: 1px solid var(--color-tertiary-muted);
}

.forum:hover {
  background-color: var(--color-tertiary-active);
}

.forum a {
  color: var(--color-text-tertiary);
}

.forum:last-child {
  border-bottom: none;
}

.forum-header {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 12;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-tertiary-muted);
  word-break: break-all;
}

.forum-title {
  flex-grow: 1;
}

.forum-title p {
  margin: .5rem;
  margin-left: .25rem;
}

.forum-threads {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-tertiary-muted);
  min-width: 65px;
  text-align: center;
}

.forum-threads p {
  margin: 0 auto;
}

.forum-last {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 10;
  display: flex;
  align-items: center;
}

.forum-last p {
  margin: 0;
}

.forum-create {
  background-color: var(--color-tertiary);
  padding: .5rem;
}

.thread {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--color-tertiary);
  color: var(--color-text-tertiary);
  border-bottom: 1px solid var(--color-tertiary-muted);
}

.thread:last-child {
  border-bottom: none;
}

.thread-title {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 12;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-tertiary-muted);
  word-break: break-all;
}

.thread-title p {
  margin: .5rem;
  margin-left: .25rem;
}

.thread-posts {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-tertiary-muted);
  min-width: 65px;
  text-align: center;
}

.thread-posts p {
  margin: 0 auto;
}

.thread-last {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 10;
  display: flex;
  align-items: center;
}

.thread-last p {
  margin: 0;
}

.thread-header h1 {
  font-weight: 500;
  margin-bottom: .25rem;
}

.thread-header {
  position: relative;
  margin: 1.5rem 0;
  color: var(--color-text-tertiary);
}

.thread-header a {
  color: var(--color-text-tertiary);
}

.thread-rename {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  padding: .1rem;
  cursor: pointer;
  font-size: 1.5rem;
  fill: var(--color-text-tertiary);
}

.icon {
  width: 60px;
  fill: var(--color-text-tertiary);
  flex-shrink: 0;
}

.post-input-content {
  height: 9rem;
}

@media screen and (max-width: 560px) {
  .forum-last {
    display: none;
  }

  .thread-last {
    display: none;
  }
}