:root {
  --color-primary: #16528e;
  --color-primary-active: #114579;
  --color-primary-inactive: #3e5b79;
  --color-secondary: #212223;
  --color-tertiary: white;
  --color-tertiary-active: #a1caff;
  --color-tertiary-muted: grey;
  --color-background: lightgrey;

  --color-text: black;
  --color-text-primary: white;
  --color-text-primary-muted: lightgrey;
  --color-text-secondary: white;
  --color-text-tertiary: black;
  --color-text-muted: grey;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}