.moderator-menu {
  float: right;
}

.forum .moderator-menu {
  float: unset;
  flex-shrink: 0;
}

@media screen and (max-width: 500px) {
  .forum .moderator-menu {
    display: none;
  }
}

.option {
  display: inline-block;
}

.option-edit {
  padding: .3rem;
  cursor: pointer;
  fill: var(--color-text-primary);
}

.option-delete {
  padding: .3rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--color-text-primary);
}