.moderator-menu {
  float: right;
}

.option {
  display: inline-block;
}

.option-edit {
  padding: .3rem;
  cursor: pointer;
  fill: var(--color-text-primary);
}

.option-delete {
  padding: .3rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--color-text-primary);
}