.post {
  background-color:white;
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}

.post-creator {
  padding: 1rem 0.5rem;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: #16528e;
  color: white;
}

.post-creator a {
  color: white;
}

.post-content {
  box-sizing: border-box;
  padding: 1rem;
}

.profile-photo {
  border-radius: 50%;
  width: 60%;
  max-width: 140px;
  margin-bottom: .5rem;
}

.post-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .post {
    flex-direction: column;
  }
  
  .post-creator {
    flex-direction: row;
    width: 100%;
    max-width: unset;
    padding: 0.75rem;
    text-align: left;
  }

  .post-content {
    width: 100%;
  }

  .profile-photo {
    border-radius: 50%;
    width: 48px;
    margin: 0;
    margin-right: 1rem;
  }

  .post-delete {
    top: .75rem;
    color: white;
  }
}