.category {
  margin-bottom: 1rem;
}

.category-navigation {
  background-color: #16528e;
  color: white;
  padding: .75rem;
  font-weight: 500;
  margin: 0;
}

.category-navigation a {
  color: white;
}

.category-header {
  display: flex;
  background-color: #212223;
  color: white;
  font-weight: 600;
}

.thread {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
  border-bottom: 1px solid grey;
}

.thread:last-child {
  border-bottom: none;
}

.thread-title {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 12;
  display: flex;
  align-items: center;
  border-right: 1px solid grey;
  word-break: break-all;
}

.thread-title p {
  margin: .5rem;
  margin-left: .25rem;
}

.thread-posts {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  border-right: 1px solid grey;
  min-width: 65px;
  text-align: center;
}

.thread-posts p {
  margin: 0 auto;
}

.thread-last {
  padding: .5rem;
  flex-basis: 0;
  flex-grow: 10;
  display: flex;
  align-items: center;
}

.thread-last p {
  margin: 0;
}

@media screen and (max-width: 560px) {
  .thread-last {
    display: none;
  }
}